{% extends 'base.html.twig' %}

{% block title %}
	La Crise de la Vingtaine
{% endblock %}

{% block body %}
	<br>
	<br>

	<div id="accueil">
		<h5 id="bonjour">
			Bonjour !
		</h5>
		<p> Je te souhaite la bienvenue sur <b>LCLV - La Crise de la Vingtaine</b>, plateforme dédiée aux <b>étudiants et jeunes diplômés <br> s’interrogeant sur le choix de leurs études et/ou envisageant une reconversion professionnelle.</b>
			<br>
			<br>
			<br>

			Sur LCLV, tu auras accès à : <br>
			* des <b>actualités</b> et des <b>analyses</b> (articles, ouvrages, revues …) <br> sur l’<b>orientation scolaire post bac</b>, l’<b>insertion professionnelle</b> et le <b>monde du travail</b><br>
			<a class="ui teal button" id="bouton-blog" href="#"> BLOG </a> <br> <br>
			* la possibilité de réserver des <b>séances de coaching</b> <br> dont le programme sera établi en fonction de ta situation,<br> tes aspirations professionnelles et personnelles <br>
			Il pourra être axé sur l’orientation scolaire ou la reconversion professionnelle dépendamment de tes besoins
			<a class="ui teal button" id="bouton-coaching" href="{{ path('rdv') }}"> RÉSERVER UNE SÉANCE DE COACHING </a>
			<br>
			<br>
			<br>
			<br>
			<b>
				<u>LCLV est fait pour toi si</b>
			</u>
			:
			<br>
			* Tu souhaites découvrir une autre approche du monde du travail, différente de celle souvent mise en avant dans notre société
			<br>
			* Les analyses et réflexions d’une jeune issue de la génération Y t’inspirent
			<br>
			* Intégrer un espace d’échanges où la notion de communauté prend tout son sens est un principe auquel tu adhères
			<br>
			<br>
		
			Tu es emballé(e) par le concept ? Réserve un appel gratuit ou inscris toi dès à présent via ce lien !
			<br>
			<a class="ui teal button" id="bouton-appel" href="#"> 
			Réserver un appel de 30min gratuit </a> &nbsp &nbsp
			<a class="ui teal button" id="bouton-LCLV" href="{{ path('app_register') }}"> 
			M'inscrire à LCLV
			</a>

			<br>
			<br>

			Tu as besoin d’encore un peu de temps pour y réfléchir ? <br>
			Aucun problème, tu peux jeter un oeil aux différents services auxquels tu pourras accéder sur la plateforme
			<br>
			<a class="ui teal button" id="bouton-visio" href="{{ path('services') }}"> ACCOMPAGNEMENT ORIENTATION SCOLAIRE /<br> RECONVERSION PROFESSIONNELLE </a>
		</p>
	</div>
	
{% endblock %}
