{% extends 'base.html.twig' %}

{% block title %}
	La Crise de la Vingtaine
{% endblock %}

{% block body %}

	<div class="ui celled grid">
		<div class="row">
			<div class="three wide column">
				<img id="img1" src="images/img1.jpg" alt="">
			</div>
			<div class="thirteen wide column">
				<p>
					Bonjour !
				</p>

			</div>
		</div>
		<div class="row">
			<div class="three wide column">
				<img>
			</div>
			<div class="ten wide column">
				<p></p>
			</div>
			<div class="three wide column">
				<img>
			</div>
		</div>
	</div>


	<h6>
		Bonjour !
	</h6>
	<p>
		Je te souhaite la bienvenue sur LCLV - La Crise de la Vingtaine, plateforme dédiée aux étudiants et jeunes diplômés s’interrogeant sur le choix de leurs études et/ou envisageant une reconversion professionnelle.
		<br>
		<br>
		Sur LCLV, tu auras accès à des actualités et des analyses (articles, ouvrages, revues …) sur l’orientation scolaire post bac, l’insertion professionnelle et le monde du travail.<br>
		Tu auras également la possibilité de réserver des séances de coaching dont le programme sera établi en fonction de ta situation, tes aspirations personnelles et professionnelles.
		<br>
		Il pourra être axé sur l’orientation scolaire ou la reconversion professionnelle dépendamment de tes besoins.
		<br>
		<br>
		LCLV est fait pour toi si :
		<br>
		* Tu souhaites découvrir une autre approche du monde du travail, différente de celle souvent mise en avant dans notre société
		<br>
		* Les analyses et réflexions d’une jeune issue de la génération Y t’inspirent
		<br>
		* Intégrer un espace d’échanges où la notion de communauté prend tout son sens est un principe auquel tu adhères
		<br>
		<br>
		Tu es emballé(e) par le concept ? Tu peux t’inscrire dès à présent via ce lien
		<br>
		<br>
		Call to Action « M’inscrire à LCLV »
		<br>
		<br>
		Tu as besoin d’encore un peu de temps pour y réfléchir ? Aucun problème, tu peux jeter un oeil aux différents services auxquels tu pourras accéder sur la plateforme
		<br>
		* COACHING (rediriger vers la page Mes services)
		<br>
		* LIVE EN VISIO 2 FOIS PAR MOIS pendant lequel je répondrai à tes questions (rediriger vers la page Mes services)
		<br>
		* GROUPE WHATSAPP PRIVÉ (rediriger vers la page Mes services)
		<br>
		<br>
		Call to Action « Réserver un appel de 30min gratuit » (voir si proposer 1er appel gratuit)
	</p>


{% endblock %}
