{% extends 'base.html.twig' %}

{% block title %}
	Qui suis-je ?
{% endblock %}

{% block body %}
	<br>
	<br>
	
	<div class="ui celled grid">
		<div class="row">
			<div class="three wide column">
				<img src="assets/css/images/img1.jpg" alt="">
			</div>
				<div class="thirteen wide column" id="qui-suis-je">
					<h6 id="presentation">
					Qui suis-je ?
					</h6>
						<p> « Qui se cache derrière ce beau projet ? » <br> C’est sûrement la première question que tu t’es posé(e), à raison, lorsque tu es arrivé sur la plateforme. <br> Je te propose un mini flashback pour que tu aies une idée un peu plus précise de mon parcours <br> et que tu comprennes les moments-clés qui l’ont défini*.
							<br>
							<br>
							<b>* 2000 - 2005</b> <br> 
							En primaire, j’étais déjà ce qu’on appelle hypersensible et introvertie. <br> La rentrée des classes représentait un moment d’hésitation, de doutes. <br> Mais à défaut de me faire beaucoup d’amis, j’avais au moins de bonnes notes. <br> Mes professeurs étaient contents, mes parents aussi. Jusque-là, tout allait bien.
							<br>
							<br>
							<b>* 2005 - 2009</b> <br>
							Je continue mon petit bonhomme de chemin au collège. <br> Je passe les années sans trop d’encombres (à part peut-être l’année de 6e). <br> RAS.
							<br>
							<br>
							<b>* Arrive le lycée</b> <br>
							Je commence à comprendre doucement mais sûrement quelque chose :<br> je dois mettre les bouchées double pour maintenir un niveau correct. <br> Effectivement, j’obtiens mon bac littéraire de justesse (merci les coefficients et la philo).
							<br>
							<br>
							<b>* S’en suivent une succession de moments-clés : </b>
							<br>
							1. J'entre dans une période de transition entre le lycée et l’université. <br> Ça a été le premier moment-clé de ma vie de jeune adulte. <br> Comment choisir une filière qui allait déterminer les premières années de ma carrière professionnelle, <br> sans avoir eu ne serait-ce qu’un aperçu de ce à quoi j’allais être confrontée une fois mes études finies ?
							<br>
							SPOILER ALERT : je n’ai toujours pas la réponse à cette question
							<br>
							<br>
							2. Je recherche mon 1er CDI : 1e expérience traumatisante
							<br>
							<br>
							3. Je démissionne de mon 1er CDI : encore plus traumatisant
							<br>
							<br>
							4. Je me cherche à nouveau professionnellement : <i>« Reculer pour mieux sauter » </i>
							<br>
							<br>
							5. J'entame une reconversion professionnelle : <i> « Le calme après la tempête » </i>
							<br>
							<br>
							Ajouter une frise chronologique avec les temps forts
						</p>

				</div>
			</div>
		<div class="row">
			<div class="three wide column">
				<img src="assets/css/images/1.jpg" alt="">
			</div>
			<div class="ten wide column" id="qui-suis-je-suite">
						<p> <b>Tu t’es peut-être reconnu(e) dans le récit de mon parcours, si c’est le cas j’en suis ravie ! </b> 
							<br> Tu souhaites faire le point sur tes propres choix ? <br> 
							Comprendre ce qui te conviendra le mieux en fonction de tes aspirations personnelles et ta situation ?
							Réserve ton appel gratuit (ajouter flèches vers le bas)
							<br>
							<br>
						<a class="ui teal button" id="bouton-appel" href="#"> 
						Réserver un appel de 30min gratuit </a>							
							<br>
							<br>
							<br>
						</p>
						<p id="disclaimer">
							* Afin de protéger ma vie privée, je ne souhaite pas indiquer mon identité. Mais cela ne me pose aucun souci de partager des informations concernant ma vie professionnelle (domaines d’études, écoles fréquentées …) !
							<br>
							* Les informations que je vais partager ne seront qu’un résumé de mon parcours scolaire / professionnel. Pour découvrir des anecdotes et des moments forts de mon début de vie adulte t'intéressent, c’est par ici : <br>
							<a class="ui teal button" id="bouton-blog" href="#"> BLOG </a>
						</p>
			</div>
			<div class="three wide column">
				<img src="assets/css/images/1ter.jpg" alt="">
			</div>
		</div>
	</div>

{% endblock %}
