{% extends 'base.html.twig' %}

{% block title %}
	Qui suis-je ?
{% endblock %}

{% block body %}
	<h6>
		Qui suis-je ?
	</h6>
	<p>
		« Qui se cache derrière ce beau projet ? » C’est sûrement la première question que tu t’es posé(e), à raison, lorsque tu es arrivé sur la plateforme.
		Je te propose un mini flashback pour que tu aies une idée un peu plus précise de mon parcours et que tu comprennes les moments-clés qui l’ont défini*.
		<br>
        <br>
		* 2000 - 2005 : En primaire, j’étais déjà ce qu’on appelle hypersensible et introvertie. La rentrée des classes représentait un moment d’hésitation, de doutes. À défaut de me faire beaucoup d’amis, j’avais de bonnes notes. Mes professeurs étaient contents, mes parents aussi. Jusqu’ici, tout va bien.
        <br>
        <br>
		* 2005 - 2009 : Je continue mon petit bonhomme de chemin au collège. Je passe les années sans trop d’encombres (à part peut-être l’année de 6e). RAS.
		<br>
        <br>
        * Arrive le lycée. Je commence à comprendre doucement mais sûrement qu’il allait falloir que je mette les bouchées double pour maintenir un niveau correct. Effectivement, j’obtiens mon bac littéraire de justesse (merci les coefficients et la philo)
		<br>
        <br>
        * S’en suivent une succession de moments-clés : <br>
		1. la transition entre le lycée et l’université a été le premier moment-clé de ma vie de jeune adulte. Comment choisir une filière qui allait déterminer les premières années de ma carrière professionnelle, sans avoir eu ne serait-ce qu’un aperçu de ce à quoi j’allais être confrontée une fois mes études finies ? <br>
		SPOILER ALERT : je n’ai toujours pas la réponse à cette question <br>
		2. Je recherche mon 1er CDI : 1e expérience traumatisante <br>
		3. Je démissionne de mon 1er CDI : encore plus traumatisant <br>
		4. Je me cherche à nouveau professionnellement : « Reculer pour mieux sauter » <br>
		5. Reconversion professionnelle : « Le calme après la tempête »
		<br>
        <br>
		Ajouter une frise chronologique avec les temps forts
		<br>
        <br>
		Tu t’es peut-être reconnu(e) dans le récit de mon parcours, si c’est le cas j’en suis ravie :)<br>
		Tu souhaites sûrement faire le point sur tes propres choix, comprendre ce qui te conviendra le mieux en fonction de tes aspirations personnelles et ta situation ?
		<br>
        <br>
        Call to Action « Réserver un appel de 30min gratuit » (voir si proposer 1er appel gratuit)
		<br>
        <br>
		* Afin de protéger ma vie privée, je ne souhaite pas indiquer mon identité. Mais cela ne me pose aucun souci de partager des informations concernant ma vie professionnelle (domaines d’études, écoles fréquentées …) ! <br>
		* Les informations que je vais partager ne seront qu’un résumé de mon parcours scolaire / professionnel. Si des anecdotes et des moments forts de mon début de vie adulte t'intéressent, c’est par ici (lien vers blog)</p>

{% endblock %}
