{% extends 'base.html.twig' %}

{% block title %}
	Accompagnement orientation scolaire / reconversion professionnelle
{% endblock %}

{% block body %}
	<br>
	<br>

	<h5 id="services">
		Accompagnement orientation scolaire /<br> reconversion professionnelle
	</h5>
	<p>
		Durant mes années d’études supérieures, j’aurais aimé être éclairée sur des principes propres au marché du travail tels que l’insertion dans le monde professionnel et l’importance du réseau en tant que jeune diplômée.
		<br>
		<br>
		C’est pourquoi je te propose un programme sur mesure de 12 semaines qui te permettra clarifier ton projet professionnel et, dans le cas d’une reconversion professionnelle, de décider de la suite que tu souhaites donner à ta carrière.
		Nous aborderons, au travers de points d'étape et de différents exercices : <br>
				* Ton parcours scolaire / professionnel en détails <br>
				* Les « éléments perturbateurs » (moments charnières qui t’ont fait te remettre en question) <br>
				* Tes objectifs et aspirations 
				<br>
				<br>
				Découvre en détails comment nous pourrons collaborer en prenant rendez-vous (lien Prendre RDV)
	</p>

{% endblock %}
