{% extends 'base.html.twig' %}

{% block title %} Creneaux {% endblock %}

{% block body %}
    <h1>Mes créneaux</h1>
<div class="responsive-table">
	<table class="table striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Type</th>
				<th>Heure</th>
                <th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Paul</td>
				<td>24</td>
				<td>Paris</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
