/* base.html.twig */
.container h1
{
    text-align: center;
	color: black;
}

.menu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.menu li{
    font-size: 25px;
    display: block;
}
.menu li a{
	color: azure;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px white;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.menu:hover li a{
	text-shadow: 0px 0px 6px white;
}
.menu li a:hover{
	color: black;
	text-shadow: 0px 0px 1px white;
	padding-left: 10px;
}

/* home/index.html.twig 
   presentation/index.html.twig
   services/index.html.twig
   
*/

#img1 {
	width: 60px;
	height: 10px;
}
h6
{	
	text-transform : uppercase;
    text-align: center;
    color: black;
    font-size: 50px;
}

p
{
    color: white;
    font-weight: 700;
}

/* registration/register.html.twig */
h1
{
	color: cornsilk;
	/* color: lightseagreen; */
}