@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Audiowide&family=Barriecito&family=Josefin+Sans:wght@100;400&family=Lato:wght@700&family=Montserrat+Alternates:wght@400;500;600&family=Rambla&display=swap');

#titre
{
    text-align: center;
	color: black;
	font-family: 'Barriecito', cursive;
	font-weight: bold;
	padding-top: 30px;
	font-size: 45px;
}

.content {
	z-index: 10;
}

.menu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
	font-family: 'Lato', cursive;
	font-weight: 500;
}
.menu li{
    font-size: 10px;
    display: block;
}
.menu li a{
	color: black;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px white;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.menu:hover li a{
	text-shadow: 0px 0px 6px black;
}
.menu li a:hover{
	color: black;
	text-shadow: 0px 0px 1px black;
	padding-left: 10px;
}

/* home/index.html.twig 
   presentation/index.html.twig
   services/index.html.twig
   
*/

#img1 {
	width: 60px;
	height: 60px;
}

#img2 {
	width: 60px;
	height: 60px;
}

#bonjour,
#services,
#presentation {
	padding-top: 30px;	
	text-transform : uppercase;
    text-align: center;
    color: black;
    font-size: 40px;
	font-family: 'Lato', cursive;
}

section {
	text-align: center;
}

#stackable {
	display: inline-block;
	margin: 5px;
}

#actualités,
#coaching {
	font-size: 20px;
}

.uk-animation-toggle {
	display: inline-block;
	margin: 2px;
}

#accueil,
#bouton-blog,
#bouton-coaching,
#bouton-appel,
#bouton-LCLV,
#bouton-visio,
#qui-suis-je,
#qui-suis-je-suite {	
	color: black;
	font-size: 20px;
    font-weight: 500 ;
	font-family: 'Lato', cursive;
 	text-align: center;
}

#qui-suis-je,
#qui-suis-je-suite {
	font-size: 17px;
}

#disclaimer {
	font-size: 14px;
}

/* registration/register.html.twig */
h1
{
	color: black;
}